#stage {
  margin: 1em auto;
  width: 382px;
  height: 292px;
}

#stage image {
  position: absolute;
}
#stage img {
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
}

#stage img:nth-of-type(1) {
  animation-name: fader;
  animation-delay: 4s;
  animation-duration: 1s;
  z-index: 20;
}
#stage img:nth-of-type(2) {
  z-index: 10;
}
#stage img:nth-of-type(n+3) {
  display: none;
}

@keyframes fader {
  from { opacity: 1.0; }
  to   { opacity: 0.0; }
}
